<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
        <span class="fa fa-book"> {{ site.title }}</span>
        <span class="fa fa-caret-down"></span>
    </span>
    <div class="rst-other-versions">
        <small>
            <span>
                Built bằng
                <a href="https://jekyllrb.com/">Jekyll</a>, sử dụng theme
                <a href="https://github.com/rundocs/jekyll-rtd-theme">jekyll-rtd-theme</a> (MIT)
            </span>
        </small>
    </div>
</div>
